<nav>
  <ul>
    <li>
      <a href="/">
        <img src="../assets/images/home.svg" alt="Home icon" />

        <span>Home</span></a
      >
    </li>
    <li>
      <a href="/"
        ><img
          src="{{ site.baseurl }}/assets/images/project.svg"
          alt="project icon"
        /><span>Projects</span></a
      >
    </li>
    <li>
      <a href="/"
        ><img
          src="{{ site.baseurl }}/assets/images/skill.svg"
          alt="skill icon"
        /><span>Skills</span></a
      >
    </li>
    <li>
      <a href="/"
        ><img
          src="{{ site.baseurl }}/assets/images/about.svg"
          alt="About icon"
        /><span>About Me</span></a
      >
    </li>
    <li>
      <a href="/"
        ><img
          src="{{ site.baseurl }}/assets/images/contact.svg"
          alt="contact icon"
        /><span>Contact</span></a
      >
    </li>
    <li>
      <a href="/"
        ><img
          src="{{ site.baseurl }}/assets/images/resume.svg"
          alt="resume icon"
        /><span>Resume</span></a
      >
    </li>
  </ul>
</nav>
