<div class="mobileNav-container">
  <img
    src="{{site.baseurl}}/assets//images/hamburger.svg"
    style="width: 3rem; height: auto"
    class="hamburger"
    id="main-hamburger"
  />
  {% include theme.html%}
</div>

<nav id="main-nav">
  <ul>
    <li>
      <a href="/">
        <img src="{{site.baseurl}}/assets/images/home.svg" alt="Home icon" />

        <span class="nav-title">Home</span></a
      >
    </li>
    <li>
      <a href="/"
        ><img
          src="{{ site.baseurl }}/assets/images/project.svg"
          alt="project icon"
        /><span class="nav-title">Projects</span></a
      >
    </li>
    <li>
      <a href="/"
        ><img
          src="{{ site.baseurl }}/assets/images/skill.svg"
          alt="skill icon"
        /><span class="nav-title">Skills</span></a
      >
    </li>
    <li>
      <a href="/"
        ><img
          src="{{ site.baseurl }}/assets/images/about.svg"
          alt="About icon"
        /><span class="nav-title">About</span></a
      >
    </li>
    <li>
      <a href="/"
        ><img
          src="{{ site.baseurl }}/assets/images/contact.svg"
          alt="contact icon"
        /><span class="nav-title">Contact</span></a
      >
    </li>
    <li>
      <a href="/"
        ><img
          src="{{ site.baseurl }}/assets/images/resume.svg"
          alt="resume icon"
        /><span class="nav-title">Resume</span></a
      >
    </li>
  </ul>
</nav>
