.contact {
  display: flex;
  gap: 3rem;
  margin-top: 4rem;
}
.contact a img {
  width: 5rem;
  height: 5rem;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 10px 15px var(--contact-shadow), 0 4px 6px var(--contact-shadow);
  /* box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); */
}
/* Contact Page Styling */
.contact-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

.contact-section h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

.contact-section p {
  font-size: 18px;
  color: #555;
  margin-bottom: 40px;
}

.contact-details {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.contact-details h2 {
  font-size: 28px;
  color: #007bff;
  margin-bottom: 10px;
}

.contact-details ul {
  list-style-type: none;
  padding: 0;
}

.contact-details ul li {
  font-size: 16px;
  margin: 10px 0;
  color: #555;
}

.contact-details a {
  color: #007bff;
  text-decoration: none;
}

.contact-details a:hover {
  text-decoration: underline;
}
.contact-section .contact-text {
  color: var(--text-color);
}
.contact-details h3 {
  font-size: 22px;
  margin-top: 30px;
  color: #333;
}

/* Form Styling */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.contact-form label {
  font-size: 16px;
  color: #333;
  text-align: left;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.contact-form button {
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.contact-form button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
