*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}
/* ................................NAV STYLING.............................. */
#main-nav {
  width: 5rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  transition: width 0.5s ease-in-out; /* Animate transform property */
  position: relative;
}

#main-nav:hover,
#main-nav.visible-nav {
  width: 15rem;
}

#main-nav ul {
  height: 100%;
  width: 100%;
  list-style-type: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.05);
}

#main-nav:hover ul {
  align-items: flex-start;
}
#main-nav ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #324054;
  font-weight: 500;
  font-size: 1.5rem;
}
#main-nav ul li img {
  width: 3rem;
  height: auto;
}

#main-nav .nav-title,
#main-nav.visible-nav .nav-title {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  transform: translateX(30px);
  transition: transform 0.1s ease-in-out, opacity 0.3s ease-in-out;
}

#main-nav:hover .nav-title,
#main-nav.visible-nav .nav-title {
  opacity: 1;
  transform: translateX(40px);
  pointer-events: auto;
}

#main-hamburger {
  display: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  transition: transform 0.5s ease-in-out;
  z-index: 7;
}
.transform-hamburger {
  transform: translateX(11.5rem);
}
/* MEDIA QUERY */

@media (max-width: 768px) {
  #main-hamburger {
    display: block;
  }
  #main-nav {
    visibility: hidden;
  }
  #main-nav.visible-nav {
    height: 90vh;
    visibility: visible;
    z-index: 6;
    margin-top: 4rem;
  }
}
