<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | default: site.title }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ site.baseurl }}/assets/styles/default.css"
    />
    {% if page.css%} {%for stylesheet in page.css %}
    <link rel="stylesheet" href="{{site.baseurl}}/{{stylesheet}}" />
    {% endfor%} {% endif%}
  </head>
  <body>
    <div class="desktopTheme-btn">{%include theme.html%}</div>
    <div class="body-container">
      {% include nav.html%}
      <main class="main-content">{{content}}</main>
    </div>
    <script src="{{site.baseurl}}/assets/js/script.js"></script>
  </body>
</html>
