---
css:
  - "/assets/styles/projects.css"
---

<div class="project-layout">
  <div class="project-links">
    <a href="{{page.link}}" target="_blank">LIVE SITE </a>
    <a href="{{page.source}}" target="_blank">SOURCE CODE</a>
  </div>
  <p class="close-modal">
    <img src="{{site.baseurl}}/assets/images/cancel.svg" alt="class icon" />
  </p>
  <div class="project-content">{{ content }}</div>
  <div class="tech-img">
    {% for tech in page.technologies%}
    <img src="{{site.baseurl}}/assets/images/{{tech}}.svg" alt="html-icon" />

    {%endfor%}
  </div>
</div>
