---
css:
  - "/assets/styles/projects.css"
---

<div class="project-layout">
  <div class="project-links"><a>LIVE SITE</a> <a>SOURCE CODE</a></div>
  <p class="close-modal">X</p>
  <div class="project-content">
    {{ content }}lorem3000 Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Ex vero similique a distinctio fuga debitis magni ratione atque
    molestias corrupti. Perspiciatis molestiae sequi ut, quos iusto saepe
    numquam libero! Blanditiis itaque consectetur labore ad porro magni aperiam,
    saepe deleniti numquam quaerat eligendi tempore esse accusamus neque quia
    illo quis doloremque incidunt veritatis hic! Dolorem odio, amet blanditiis,
    quod autem voluptates velit reprehenderit voluptate fuga nemo iste. Debitis,
    tempore illum sint quae dignissimos cumque quisquam ipsum incidunt
    accusantium dolore culpa doloremque, iste dolorum ut eos omnis et,
    asperiores explicabo totam placeat. Quod rem numquam voluptates modi iusto
    ea laudantium sint nesciunt ducimus saepe, dolores necessitatibus cum
    dignissimos quae assumenda aliquid asperiores repudiandae quas esse ullam.
    Provident sequi ad nesciunt vel debitis maiores commodi perferendis nihil
    doloremque expedita. Blanditiis itaque rem odio iusto error sapiente eum
    nulla, perferendis autem quod consequuntur pariatur quas ad facere
    asperiores labore dolorum laborum omnis quo voluptatibus soluta voluptatum.
    Perferendis a, ratione magni soluta earum iste error aut debitis mollitia
    itaque officia voluptas perspiciatis sapiente minus at maiores voluptatum
    accusamus temporibus nisi. Minima nemo eos aliquam omnis exercitationem
    corrupti quas perspiciatis non placeat aut magnam natus laudantium nulla,
    eum odio eveniet obcaecati quibusdam architecto optio, iusto voluptatem sed?
    Nihil eveniet nulla iusto. Adipisci voluptate expedita, sint nemo at sunt
    quo fuga ea commodi velit reiciendis provident ipsam corrupti rem pariatur
    impedit illum atque maiores? Velit, maiores ducimus tenetur minus cum
    eligendi? Aspernatur voluptatem aliquid eaque facilis totam earum quas
    ipsam, libero tenetur! Neque veritatis non quasi nostrum natus itaque
    laborum nobis eveniet repudiandae nam a, placeat, corporis aliquid tempore!
    Laboriosam aliquam sit inventore hic necessitatibus quod ipsam officia, unde
    nulla sequi libero veniam voluptatem. Officiis modi iste, omnis nam eos
    fugit eligendi quo cum voluptatibus quae maiores blanditiis ut error
    distinctio dolorum esse deleniti, natus dolor autem, eius itaque quos.
    Laudantium illo ex porro vitae in culpa eius distinctio, incidunt tempora
    aspernatur provident eum placeat, natus aperiam et modi, repellat excepturi
    totam perferendis ad doloribus. Ipsum, ducimus. Fuga maiores aspernatur
    iusto cumque aliquid quam iure dolorum quaerat quibusdam delectus aliquam,
    ex perspiciatis qui voluptatem quod sapiente sequi soluta at! Odit et maxime
    ipsam! Ea culpa ex dolorem ut quaerat doloribus porro expedita iure aut qui.
    Quos enim ipsum iste impedit, nobis deleniti quis ad quidem nemo esse nihil
    deserunt obcaecati distinctio incidunt repellat architecto perferendis?
    Incidunt aut sapiente quis perferendis eius totam hic quo ipsum sequi
    deleniti perspiciatis voluptates ipsa esse dolor maiores quod, nulla
    aperiam. Voluptates, dolorem in, eveniet ad ipsa necessitatibus doloribus
    porro ipsum dolorum magni fugiat error libero minus quam aliquid? Voluptate
    unde magni voluptatum quis optio, eos, accusamus dolor delectus facere
    nostrum explicabo tempore, dolores iusto asperiores sit voluptatem? Nisi,
    doloremque, sequi fugiat aliquid officia rem repudiandae, velit error
    repellat maiores dicta quia? Sed amet totam incidunt, facilis quibusdam
    culpa qui atque possimus eum eveniet. Quae, maiores adipisci? Odio voluptate
    cumque vero, perspiciatis laudantium autem ab blanditiis deleniti architecto
    nam, placeat, quidem doloremque obcaecati? Ex eum quasi saepe corrupti sit
    ab quibusdam facere. Lorem ipsum, dolor sit amet consectetur adipisicing
    elit. Dolor amet facilis, totam asperiores quae ea eaque quis, temporibus ab
    quam non vitae consequatur perferendis placeat laborum provident iure, illum
    vero maxime! Ducimus, nesciunt, et ullam ipsa aliquam iusto rerum facere
    magnam odit id velit veniam error hic provident praesentium eos repellat.
    Beatae inventore nam necessitatibus hic qui consectetur dolorem explicabo
    iste totam voluptas, architecto consequatur molestiae saepe possimus aliquid
    dolorum laborum eius deleniti animi quia voluptatem. Temporibus aspernatur
    non sint. Dignissimos laboriosam ea repudiandae cupiditate quo suscipit
    fugiat quibusdam mollitia unde sit blanditiis amet itaque, magni nostrum
    nesciunt, quaerat nisi quia veniam quod accusamus harum commodi excepturi
    illum! Tenetur illo doloremque dicta laboriosam eaque explicabo delectus ad
    odio iste dolores, repellendus aliquam qui quaerat, facere quidem ex in
    consequatur, sapiente eveniet magni harum aperiam hic! Dolor fugit quas
    doloribus in, ea accusantium esse odio alias nostrum praesentium eos quo
    neque vitae sapiente ullam iusto? Nihil labore quis nulla necessitatibus
    explicabo quaerat, architecto, quidem possimus vitae autem reprehenderit
    voluptatibus deleniti neque vero odio consequatur, sed illo nisi id
    repellendus doloribus. Quaerat assumenda adipisci impedit officia. Unde
    consequatur minus molestias, nostrum inventore pariatur maiores, quibusdam
    deleniti aliquam officiis consectetur error omnis animi, rerum obcaecati.
    Voluptatum molestiae aperiam illo repudiandae mollitia consequatur. Totam
    labore rem animi consequatur aliquid nemo nam tempora ea, facere saepe eaque
    culpa quasi possimus, eveniet quos neque, nulla eum repellat ad ratione
    voluptatum omnis inventore? Amet reprehenderit debitis tempore? Quo tempore
    labore aspernatur doloribus impedit quod sunt, itaque excepturi, architecto
    rerum facere? Aperiam pariatur similique vero mollitia consequuntur incidunt
    quaerat repellat ut, placeat quam rem doloremque, soluta blanditiis tenetur
    id fugiat! Officiis earum odio cumque id quo aliquid excepturi doloribus
    aperiam pariatur sint quaerat, quisquam quis sunt quam numquam consequatur
    temporibus blanditiis eveniet quia nostrum dolores molestias suscipit,
    perspiciatis optio? Doloremque temporibus, esse reprehenderit omnis cum
    deleniti repellat voluptate minus iure atque praesentium quam architecto,
    suscipit excepturi vero aut, neque maxime beatae aliquam non dolores.
    Recusandae ullam odit necessitatibus modi consequatur officiis quas atque,
    quis, quia enim vitae. Officiis doloremque repellendus a aspernatur
    recusandae quibusdam illum! Quod repudiandae delectus reprehenderit,
    deleniti soluta cumque provident excepturi adipisci voluptates nostrum.
    Ipsam, magnam. Ut, iste ullam illo consequuntur iusto facilis nihil quis?
    Repellendus architecto nam reiciendis exercitationem at expedita minus, rem
    quam voluptatibus totam ipsum fugit. Ea similique libero commodi qui vitae
    adipisci architecto nisi ab dolores accusamus nemo iure ducimus corporis
    voluptas, dolor at repudiandae assumenda voluptatem repellat. Pariatur, hic
    provident nisi necessitatibus maxime autem inventore nihil molestias.
    Quaerat vel dolore repudiandae omnis distinctio quae porro accusamus. Harum
    iusto neque, suscipit voluptas corrupti quam veritatis minima facere
    inventore corporis nisi est dolore obcaecati doloremque, ducimus placeat
    optio vitae quidem reprehenderit recusandae reiciendis ipsum pariatur
    eligendi. Doloribus, architecto. Adipisci at eius a aliquid, mollitia
    nesciunt minima, ipsa odit tempore atque voluptas cupiditate dolor?
    Explicabo impedit eius quis dicta quod quisquam, sed qui libero sunt
    perspiciatis vero accusamus voluptatem doloribus placeat quibusdam sit
    fugiat facere modi unde aperiam rerum optio laboriosam ad! Quasi. Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Explicabo veritatis a
    similique vel, ipsa quisquam modi voluptas. Porro cumque iure atque sit
    nisi. Suscipit architecto at in? Asperiores, deserunt velit! Fugit deserunt
    aliquid delectus? Magni, repellat voluptas adipisci rem sit saepe quo sint!
    Eveniet libero quasi perspiciatis neque at autem aliquid, a quos dolor
    commodi animi asperiores. Placeat, ullam. Accusamus doloremque excepturi,
    rerum nobis voluptatibus quas saepe error repellat! Suscipit eos culpa,
    accusantium similique enim, incidunt quas autem sequi aliquam voluptates
    vitae, neque magnam quibusdam amet? Laborum libero animi exercitationem quia
    quasi beatae facilis unde cupiditate incidunt sunt voluptatum velit
    distinctio praesentium soluta, totam expedita consequuntur ullam, nam eius
    suscipit. Esse, vitae magni? Reprehenderit, animi. Deleniti blanditiis natus
    maxime nulla, voluptatibus debitis, vel et tenetur dolore eligendi
    exercitationem commodi perferendis excepturi distinctio facilis ipsam nobis
    fuga. Nam odit impedit odio neque earum consequuntur temporibus fuga a
    quaerat, dolorem quasi dignissimos est harum animi ipsum sunt possimus
    voluptatibus officia ipsam, id placeat distinctio eaque exercitationem?
    Asperiores, reiciendis labore eligendi, officia natus necessitatibus dolore
    beatae ab, aspernatur ducimus distinctio. Quasi reiciendis enim soluta
    aliquam itaque, nulla nam temporibus assumenda? Vel neque enim nam, ea
    soluta facere inventore odit aut ipsum, dolores veniam. Assumenda hic
    corrupti at. Voluptates vero temporibus hic fugiat, beatae omnis sit iste
    provident ullam a soluta, doloribus perferendis quod dicta error? Tempora
    quae molestiae corporis voluptates soluta voluptatem voluptatum similique
    porro, earum corrupti amet sunt repudiandae maiores sed. Nemo error ut
    corrupti deleniti neque ipsa magnam, nobis nam aut reiciendis asperiores,
    mollitia facilis numquam earum? Corporis praesentium animi delectus vero
    reiciendis ullam porro officiis, dicta repellat voluptates natus. Deserunt
    ipsam at ratione temporibus quidem est sit omnis sed maiores dolorum ipsum
    eaque rerum velit, quae maxime dolor, nesciunt eligendi, reprehenderit
    eveniet hic dicta! Quod necessitatibus aliquid modi facere cupiditate
    distinctio magni, mollitia ullam voluptates at itaque eaque blanditiis
    perspiciatis aspernatur iure asperiores maxime! Aliquam harum ratione
    excepturi, temporibus veritatis nesciunt esse placeat repudiandae natus
    cumque dolorem quasi, laborum odit enim quam accusamus earum dolorum
    necessitatibus non! Harum, blanditiis placeat? Impedit eveniet esse at quia
    enim dolore? Officia maxime id eveniet repudiandae voluptatum consequuntur
    assumenda perspiciatis quasi, et quod ex minus libero, atque odio!
    Necessitatibus nam ducimus perspiciatis incidunt iste tenetur repellendus,
    corrupti aperiam voluptatum placeat, nesciunt labore asperiores assumenda
    sint deserunt pariatur esse id blanditiis eum eius illo accusantium
    deleniti, quam illum. Reiciendis expedita laboriosam porro fugit aliquam ad
    optio inventore. Deleniti, necessitatibus saepe. Ab blanditiis placeat
    debitis corporis porro molestias ipsum. A soluta nemo aut? Animi hic debitis
    fugiat, voluptatum tempora porro fuga nesciunt assumenda error ullam
    adipisci. Fugit sint quos, eaque placeat molestias accusamus quod quae
    inventore ratione earum accusantium doloribus facere incidunt dolores!
    Placeat eveniet vel cumque magni aut, quidem molestiae, adipisci sequi
    veniam dolore provident eum amet tempora, fugiat voluptates. Harum deserunt
    excepturi laudantium perspiciatis eius iusto reiciendis, optio unde
    assumenda maiores? Tenetur, sed? Modi alias suscipit, qui voluptas nulla
    doloribus similique quasi, incidunt, at adipisci corrupti magnam? Suscipit
    deserunt eius sequi libero ut officia reprehenderit eaque minima eum. Quidem
    error, commodi, culpa minus, sint voluptates voluptatibus similique nobis
    odit sequi beatae impedit explicabo dolores ipsa ducimus quisquam. Illo
    assumenda nam quod, aperiam neque dolorum consequatur voluptatem iure minima
    ut, voluptatibus recusandae numquam temporibus dolore animi quia! Velit
    corporis nihil et facere iusto neque possimus aliquam numquam beatae?
    Commodi natus nihil sint? Ipsam quas voluptatem aut ipsa accusantium
    corrupti ea saepe illo laudantium eligendi enim pariatur mollitia, similique
    vitae nulla eum odio? Aliquam voluptas ea minima esse laudantium ipsa
    asperiores. Aliquam illum eos odio officia, distinctio amet blanditiis vero
    animi eum aperiam enim. Facere pariatur consequuntur repudiandae architecto
    necessitatibus, culpa quaerat corrupti tenetur nulla fugit nisi blanditiis
    quasi porro amet, maxime quos modi asperiores temporibus exercitationem
    quidem. A harum nostrum accusamus perferendis dolorum iusto maiores optio,
    quae totam dolorem aliquam odit delectus quisquam ipsum adipisci
    exercitationem facilis culpa, ratione nihil dolores? Nihil eum quidem odio
    saepe amet mollitia corrupti iure voluptate rem laborum quaerat in, dolores
    fuga reprehenderit omnis sapiente sit magni error eveniet eos praesentium
    quis modi dignissimos quibusdam? Esse reiciendis incidunt excepturi
    doloremque accusantium corrupti dicta, laudantium placeat reprehenderit amet
    maiores neque ipsum unde. Odit ducimus eius cum hic sapiente architecto iste
    nulla repellendus voluptatum? Voluptas quaerat consectetur assumenda atque
    nihil amet modi vitae? Dolore eligendi, repudiandae alias vel soluta ipsa
    rerum dolores corporis nulla ut! Perferendis quia aperiam dolorem rem? Ex,
    aperiam sunt! Minus vero atque iusto nulla asperiores consequatur assumenda
    cupiditate, quo facilis quasi. Sunt fugiat sed minus. Dolorum numquam fugiat
    sint fuga fugit nisi omnis illo quasi, voluptatibus voluptas aspernatur
    necessitatibus neque tenetur, ex, ducimus quo praesentium laudantium dolor.
    Autem quis placeat amet tenetur, sed iure? Cupiditate officia optio numquam
    labore deserunt maxime nulla doloribus vero eveniet perspiciatis provident
    nostrum dolore, pariatur repudiandae cumque quod suscipit. Ut, alias
    possimus reiciendis architecto iusto tempora perspiciatis totam enim aperiam
    deleniti recusandae suscipit consequuntur sed necessitatibus nobis facilis
    quasi veritatis quos placeat quam? Tenetur autem, inventore nemo harum enim,
    dolorem iusto minima nam expedita quis, asperiores quae! Reiciendis
    consequatur laboriosam mollitia, natus tempore exercitationem aperiam a?
    Minus ullam ex dicta accusantium assumenda itaque officiis excepturi
    obcaecati et, at quisquam quas quae atque aliquid? Veniam et, velit itaque,
    quibusdam architecto iusto molestiae facere neque natus voluptatum deserunt
    nobis blanditiis cum mollitia ea. Quibusdam inventore illo, dolore excepturi
    esse voluptatem et quisquam doloremque quod, a, placeat suscipit. Omnis
    veritatis placeat officia voluptatum dicta perspiciatis, sapiente corporis
    maxime alias quis error autem dolorum rerum unde sed vitae facere est
    quisquam asperiores molestias modi. Maxime repudiandae nisi ipsa amet
    maiores et beatae nihil quidem neque earum provident fugiat optio eveniet,
    nam nulla explicabo, placeat minima? Asperiores mollitia necessitatibus
    temporibus nostrum non omnis aliquid at in aspernatur. Tenetur aut cum
    voluptatem in magnam natus ut sunt deleniti perspiciatis dolorem veritatis
    culpa placeat molestiae labore illum hic quidem vero ab odit, temporibus
    voluptates excepturi. Dignissimos, molestias cumque? Fugit suscipit,
    aspernatur vel soluta quaerat aliquid. Nemo voluptas incidunt, sapiente
    laboriosam tenetur est doloribus molestias officiis, voluptates rem ea quae
    cupiditate!
  </div>
</div>
